%nav-links-style {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .login-sections {
    display: inline;
    padding: 1%;
    justify-items: end;


    ul {
      padding: 0;
      border: 0;
      justify-content: space-around;    

      li {
        @extend %nav-links-style;
        display: inline-block;
        padding: 1%;


        a {
          color: #d9d2d1;
          text-decoration: none;
          font-size: 16px;
  
        }
      }
    }
  }
}
