%h3-styles {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-transform: capitalize;
}

%form-wrapper {
  background: linear-gradient(
    200.71deg,
    #3d4046 27.15%,
    rgba(61, 64, 70, 0) 154.52%
  );
  border-radius: 7px;
  width: 466px;
  height: 398px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  display: grid;
  grid-auto-rows: 20% auto;
}
.login-form-wrapper {
  @extend %form-wrapper;
  .header {
    text-align: end;
    border-bottom: 2px solid #f4613a;

    h3 {
      @extend %h3-styles;
      position: absolute;
      right: 5%;
      transform: translateY(50%);
    }
  }

  form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    input {
      background-color: transparent;
      border-bottom: 1px solid #f4613a;
      color: #ffffff;
      width: 60%;
      border-top: none;
      border-left: none;
      border-right: none;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      &:nth-of-type(3) {
        background-color: #858788;
        border-radius: 7px;
        border: none;
        width: 265px;
        height: 42px;
        margin-top: 5%;
      }
    }
  }

  h3 {
    @extend %h3-styles;
    text-align: center;

    button {
      text-decoration-line: underline;
      color: #f4613a;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
}
