.wallet-wrapper {
  width: 100%;
  height: 100vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;

  .wallet-header {
    width: 560px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
      185.87deg,
      #3d4046 27.15%,
      rgba(61, 64, 70, 0) 154.52%
    );
    border-radius: 7px;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5%;

    .amount-input {
      width: 560px;

      form {
        background-color: transparent;
        border-bottom: 0.5px solid rgba(133, 135, 136, 0.6);
        border-top: 0.5px solid rgba(133, 135, 136, 0.6);
        display: flex;
        flex-direction: rows;
        height: 50px;
        margin-bottom: 2%;
        align-items: center;
        margin-left:5%;
        margin-right: 5%;

        img{
          position: relative;
          left: 0.5%;
        }

        input {
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          width: 80%;
          display: inline;
          border: none;
        }

        input[type="submit"] {
          border: none;
          width: 120px;
          height: 28px;
          background: #f4613a;
          border-radius: 7px;
          position: relative;
          right: 2%;
        }
      }
    }

    h1,
    p:nth-of-type(1) {
      margin: 0;
      justify-self: start;
      position: relative;
      left: 10%;
      align-self: center;
      color: #ffffff;
      text-transform: capitalize;
    }
    span {
      font-weight: 700;
      font-size: 64px;
    }

    img,
    p:nth-of-type(2) {
      justify-self: end;
      position: relative;
      right: 5%;
      align-self: center;
      color: #ffffff;
      text-transform: capitalize;
    }
    button:nth-of-type(1) {
      background-color: #00c637;
      border-radius: 7px;
      width: 83px;
      height: 28px;
      border: none;
      align-self: center;
      justify-self: end;
      transform: translateX(-50%);
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }
    button:nth-of-type(2) {
      background-color: #61636a;
      border: none;
      border-radius: 7px;
      width: 83px;
      height: 28px;
      justify-self: end;
      transform: translateX(-50%);
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .wallet-content {
    background: linear-gradient(
      206.08deg,
      #3d4046 27.15%,
      rgba(61, 64, 70, 0) 154.52%
    );
    box-shadow: 5px 6px 6px #42434d;
    border-radius: 7px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 560px;
    padding-bottom: 2%;
    overflow-y: scroll;

    .wallet-content-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.5px solid rgba(133, 135, 136, 0.6);
      width: 80%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      h3 {
        display: inline;
        color: #d9d2d1;
      }
    }

    .wallet-transactions {
      position: relative;
      display: flex;
      flex-direction: row;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .transaction {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 560px;
          padding: 5% 0;

          li {
            padding: 1%;
            justify-self: start;
            color: #ffffff;
            position: relative;
            left: 20%;
            font-size: 18px;
            line-height: 21px;
            color: #ffffff;
          }

          span {
            justify-self: end;
            color: #ffffff;
            position: relative;
            right: 20%;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
          }

          p {
            position: relative;
            left: 20%;
            font-size: 14px;
            line-height: 16px;
            color: #d9d2d1;
          }
        }
      }
    }
  }
}
